.theme-dark{
    --elements-color: hsl(209, 23%, 22%);
    --bg-color: hsl(207, 26%, 17%);
    --text-color: hsl(0, 0%, 100%);
    --input-color: var(--text-color);
}

.theme-light{
    --elements-color: hsl(0, 0%, 100%);
    --bg-color: hsl(0, 0%, 98%);
    --text-color:  hsl(200, 15%, 8%);
    --input-color: hsl(0, 0%, 52%);
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Nunito Sans', sans-serif;
    color: var(--text-color);
    background-color: var(--bg-color);
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--elements-color);
}

h1 {
    margin: 0;
    padding: 0;
    font-weight: 800;
}

.btn-toggle{
    color: inherit;
    background-color: inherit;
    border: none;
    cursor: pointer;
    font-weight: 300;
}

.card{
    background-color: var(--elements-color);
}

.card h2{
   padding: 0;
   margin: 0;
   font-weight: 800;
}

.card dl{
    padding: 0;
    margin: 0;
}

.card dt{
    display: inline;
    font-weight: 600;
}

.card dd{
    display:inline;  
    margin: 0;
}

.img-container{
    width: 100%;
    aspect-ratio: 4;
}

.card img{
    /*aspect-ratio: 3.3/2;*/
    object-fit: contain;
}

#country-search::placeholder{
    color: var(--input-color);
}

/*https://www.w3schools.com/howto/howto_js_autocomplete.asp*/
#country-search{
    color: var(--input-color);
    background-color: var(--elements-color);
    border: none;
    outline: none;
}
/*No easy way to modify select dropdown styling, look into libraries*/
#region-select{
    color: inherit;
    background-color: var(--elements-color);
    border: none;
    outline: none;
}